<header class="container-fluid bg-info p-3 text-white">
    <div class="row">
        <div class="col">
            <div class="logo">
                <h1>
                       NodeJS - UTN
                </h1>
            </div>
        </div>
        <div class="col">
            <nav class="navbar text-dark ">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/users" class="navbar-link text-dark">users</a>
                </li>
                <li class="navbar-item">
                    <a href="/productos" class="navbar-link text-dark text-capitalize">Productos</a>
                </li>
                <li class="navbar-item">
                    <a href="/noticias" class="navbar-link text-dark text-capitalize">Noticias</a>
                </li>
                <li class="navbar-item">
                    <a href="/contacto" class="navbar-link text-dark">Contacto</a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</header>