<nav class="navbar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a href="/users" class="navbar-link">users</a>
        </li>
        <li class="navbar-item">
            <a href="/contacto" class="navbar-link">Contacto</a>
        </li>
    </ul>
</nav>